*.cdf
*.cache
*.obj
*.obj.enc
*.ilk
*.ipdb
*.iobj
*.resources
*.tlb
*.tli
*.tlh
*.tmp
*.rsp
*.pgc
*.pgd
*.meta
*.tlog
*.manifest
*.res
*.pch
*.exp
*.idb
*.rep
*.xdc
*.pdb
*_manifest.rc
*.bsc
*.sbr
*.xml
*.metagen
*.bi
*.log

/.vs
/build
/bin
/build64